body {
    background-image: url(https://wallpapercave.com/wp/wp3108774.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    background-attachment: fixed;
}

.navbar {
    background-color: #ffa5a5;
}

.navbar-brand {
    color: black;
    font-weight: 900;
    font-size: 40px;
}

a {
    color: #f1f9f9;
    text-align: center;
}

a:hover {
    color: #f0f0f0;
}

.col-sm-6 {
    padding: 10px;
    border: 2px solid rgb(255, 255, 255);
    background-color: black;
    box-shadow: 9px 9px 10px #ff7575;
    border-radius: 20px;
}

.btn {
    background-color: black;
    color: whitesmoke;
}

.navbar-header {
    margin: auto;
}

h3 {
    color: #ffe806;
    background-color: rgb(0, 0, 0);
    text-shadow: 0px 0px 8px rgb(255 232 3);
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ffe806;
}

.container {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 46px;
    border-radius: 36px;
}

p {
    background-color: rgb(255, 133, 133);
    border-radius: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
